<div class=inqtop>
    <a href=https://gitlab.com/rraffiu/inq class="fa fa-gitlab"> Code Repository</a>
{% if sourcename %}
| <a href="https://gitlab.com/rraffiu/inq/blob/master/docs/source/{{ sourcename[:-4] }}" class="fa">Page Source</a>
{% endif %}
</div>
